<html>
    <head>
        <title>My Media</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://hammerjs.github.io/dist/hammer.js"></script>
        <link rel="stylesheet" type="text/css" href="public/styles/styles.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div id="theImageContainer" class='paneImage'>
            <div id="theLoadingBox" class="loadingBox">Loading...</div>
            <div id="firstImageBox" class="loadingBox">This is the first photograph</div>
            <div id="lastImageBox" class="loadingBox">This is the last photograph</div>

            <img id="theImage" class="imgMainImage"></img>

            <div class='arrowContainer arrowLeftContainer' onmousedown="return false;">
                <div class="emptySpace"></div>
                <div id='prev' class="buttonArrow">&#8249;</div>
            </div>
            <div class='arrowContainer arrowRightContainer' onmousedown="return false;">
                <div class="emptySpace"></div>
                <div id='next' class="buttonArrow">&#8250;</div>
            </div>
        </div>

        <script src="public/scripts/main.js"></script>
    </body>
</html>