<html>
    <head>
        <title>My Media</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://hammerjs.github.io/dist/hammer.js"></script>
        <link rel="stylesheet" type="text/css" href="public/styles/styles.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div id="bodyPane">
        <div id="theFileSystemContainer" class="paneFileSystem">
            <div id="parentFolderName" class="parentFolderNameStyle" onmousedown="return false;"></div>

            <div id="folderListPane" class="folderListPaneStyle" onmousedown="return false;">
                <ul id="folderList" class="folderListStyle"></ul>
            </div>

            <div id="showHideFS" class="showHideFSStyle" onmousedown="return false;">
                ...
            </div>
        </div>

        <div id="theImageContainer" class='paneImage'>
            <div id="theLoadingBox" class="messageBox">Loading...</div>
            <div id="firstFileBox" class="messageBox">This is the first photograph</div>
            <div id="lastFileBox" class="messageBox">This is the last photograph</div>
            <div id="noFileBox" class="messageBox">Click on a photograph from the file browser above to start viewing</div>

            <canvas id="theImage" class="imgMainImage"></canvas>

            <div class='arrowContainer arrowLeftContainer' onmousedown="return false;">
                <div class="emptySpace"></div>
                <div id='prev' class="buttonArrow">&#8249;</div>
            </div>

            <div class='arrowContainer arrowRightContainer' onmousedown="return false;">
                <div class="emptySpace"></div>
                <div id='next' class="buttonArrow">&#8250;</div>
            </div>
        </div>
        </div>

        <script src="public/scripts/main.js"></script>
        <script src="public/scripts/imageNavigation.js"></script>
        <script src="public/scripts/fileSystem.js"></script>
    </body>
</html>