<html>
    <head>
        <title>My Media</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://hammerjs.github.io/dist/hammer.js"></script>
        <link rel="stylesheet" type="text/css" href="public/styles/styles.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div id="bodyPane">
        <div id="fileExplorerContainer" class="fileExplorerContainerStyle">
            <div id="dirName" class="dirNameStyle" onmousedown="return false;"></div>

            <div id="dirContents" class="dirContentsStyle" onmousedown="return false;">
                <ul id="dirContentsList" class="dirContentsListStyle"></ul>
            </div>

            <div id="toggleFileExplorer" class="toggleBtnStyle toggleBtnTopLeftStyle" onmousedown="return false;">
                ...
            </div>
        </div>

        <div id="mediaContainer" class='mediaContainerStyle'>
            <div id="loadingMsgBox" class="msgBoxStyle" onmousedown="return false;">Loading...</div>
            <div id="firstFileMsgBox" class="msgBoxStyle" onmousedown="return false;">This is the first media file</div>
            <div id="lastFileMsgBox" class="msgBoxStyle" onmousedown="return false;">This is the last media file</div>
            <div id="noFileLoadedMsgBox" class="msgBoxStyle" onmousedown="return false;">Select a media file from the file explorer to start viewing</div>

            <img id="mediaFile" class="mediaFileStyle"></img>
            <!-- <canvas id="mediaFile" class="mediaFileStyle"></canvas> -->

            <div id="prevMediaBtnContainer" class='arrowBtnContainer arrowLeftBtnContainer' onmousedown="return false;">
                <div class="emptySpaceMediaBtn"></div>
                <div id='prevMediaBtn' class="arrowBtnStyle">&#8249;</div>
            </div>

            <div id="nextMediaBtnContainer" class='arrowBtnContainer arrowRightBtnContainer' onmousedown="return false;">
                <div class="emptySpaceMediaBtn"></div>
                <div id='nextMediaBtn' class="arrowBtnStyle">&#8250;</div>
            </div>

            <div id="fileProperties" class="filePropertiesStyle" onmousedown="return false;">
                <div id="toggleFileProperties" class="toggleBtnStyle toggleBtnBottomRightStyle" onmousedown="return false;">
                    ...
                </div>

                <div id="filePropertiesContainer" class="filePropertiesContainerStyle" onmousedown="return false;">
                    <table class="propertiesTableStyle">
                        <tr>
                            <th class="propertiesTableCellStyle">Focal Length</th>
                            <th class="propertiesTableCellStyle">Aperture</th>
                            <th class="propertiesTableCellStyle">Shutter Speed</th>
                            <th class="propertiesTableCellStyle">ISO</th>
                        </tr>
                        <tr>
                            <td id="focalLength" class="propertiesTableCellStyle"></th>
                            <td id="aperture" class="propertiesTableCellStyle"></th>
                            <td id="shutterSpeed" class="propertiesTableCellStyle"></th>
                            <td id="iso" class="propertiesTableCellStyle"></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>

        <script src="public/scripts/globalVars.js"></script>
        <script src="public/scripts/eventHandlers.js"></script>

        <script src="public/scripts/util.js"></script>
        <script src="public/scripts/media.js"></script>
        <script src="public/scripts/fileExplorer.js"></script>
    </body>
</html>