.dirNameStyle {
    display: none;
    border-bottom: 1px solid grey;
    cursor: pointer;
    font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;

    padding: 5 5 5 5;

    cursor: pointer;
}

.dirContentsStyle {
    display: none;
    font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;
    overflow-y: scroll;
    cursor: pointer;
}

.dirContentsListStyle {
    position: relative;
    display: inline-block;
    list-style: none;
}

.fileExplorerContainerStyle {
    position: absolute;
    left: 0%;
    z-index: 3;

    height: 100%;

    background-color: rgb(250, 250, 250);

    /* -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; */
}

.toggleBtnStyle {
    position: absolute;
    width: 50px;
    height: 50px;
    color: rgb(40, 40, 40);

    text-align: center;

    background-color: rgb(250, 250, 250);
    opacity: 0;
    cursor: pointer;

    font-size: 2em;
    font-family: "Times New Roman", Times, serif;

    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.toggleBtnTopLeftStyle {
    top: 0%;
    left: 100%;
    border-radius: 0 0 25% 0;
}

.toggleBtnBottomRightStyle {
    bottom: 0%;
    right: 100%;
    border-radius: 25% 0 0 0;
}

.mediaContainerStyle {
    position: absolute;
    top: 0%;
    z-index: 1;
    left: 0%;

    height: 100%;
    width: 100%;

    text-align: center;
    
    background: rgb(0, 0, 0);
    
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.msgBoxStyle {
    display: none;

    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: auto;
    width: auto;

    padding: 30 30 30 30;

    background-color: rgba(0, 0, 0, 0);
    color: white;

    font-size: 3em;
    font-family: "Times New Roman", Times, serif;
}

.mediaFileStyle {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    max-height: 100%;
    max-width: 100%;

    height: auto;
    width: auto;
}

.arrowBtnContainer {
    position: absolute;
    top: 0%;
    height: 100%;
    width: auto;
    z-index: 2;

    font-family: "Times New Roman", Times, serif;

    opacity: 0;
    -moz-transition: all 0.3s ease-in-out;  /* FF4+ */
    -o-transition: all 0.3s ease-in-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-in-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-in-out;  /* IE10? */
    transition: all 0.3s ease-in-out; 
}

.arrowBtnContainer:hover {
    opacity: 0.7;
}

.arrowLeftBtnContainer {
    left: 0px;
}

.arrowRightBtnContainer {
    right: 0px;
}

.emptySpaceMediaBtn {
    height: 50%;
}

.arrowBtnStyle {
    border: 1px solid rgb(40, 40, 40);
    border-radius: 25%;

    transform: translate(0, -50%);

    margin: 0 10 0 10;
    width: 50px;
    height: 50px;

    padding-top: 2px;
    font-size: 2em;
    background: rgb(255, 255, 255);
    color: rgb(40, 40, 40);
    
    cursor: pointer;
}

.filePropertiesStyle{
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 50px;
    z-index: 3;

    width: 0%;
    display: inline-block;
    
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.filePropertiesContainerStyle {
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 50px;
    width: 100%;

    background-color: rgba(250, 250, 250, 0);

    overflow: hidden;
}

.propertiesTableStyle {
    position: absolute;
    right: 0%;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    text-align: center;
    color: blue;
    background-color: rgba(250, 250, 250, 0.3);
}

.propertiesTableCellStyle {
    /* border: 1px solid black; */
    width: 25%;
    padding: 3 0 3 0;
    text-align: center;
}